
html{

  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
}
#quote{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
  font-weight: bold;
  line-height: 1.6;
  color: rgb(32, 32, 32);
  text-align: center;
  color: white;
  padding: 10px 20px;
  padding-top: 40px;
}
#author{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;

}
.button {
   position: absolute;
  top: -3%;
  left: 50%;
  down: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: mediumvioletred;
  border: none;
  font-size: 16px;
  color: black;
  padding: 5px 12px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 50px 2px;
  cursor: pointer;
  border-radius: 16px;